<%- include('partials/header') %>

<h1><%= campground.name %></h1>
<img src="<%= campground.image %>" alt="Campground Image" />
<p><%= campground.description %></p>

<%- include('partials/footer') %>
